
<div class="container">
    <div class="row format"> 
        <div class="col">
            Column 1
        </div>
        <div class="col">
            Column 2
        </div>
        <div class="col">
            Column 3
        </div>
    </div>

    <div class="row format2"> 
        <div class="col">
            Column 4
        </div>
        <div class="col">
            Column 5
        </div>
    </div>

    <div class="row format3"> 
        <div class="col">
            Column 6
        </div>
        <div class="col">
            Column 7
        </div>
        <div class="col">
            Column 8
        </div>
        <div class="col">
            Column 9
        </div>
    </div>
</div>
<router-outlet></router-outlet>
