<div class="checklist">
    <h2 style="text-align:center">In Stock</h2>
    
    <div>
        <h3 style="text-align:left;color:gold">Spices</h3>
        <div class="form-check" *ngFor="let item of spices">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Meat</h3>
        <div class="form-check" *ngFor="let item of meat">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Condiments</h3>
        <div class="form-check" *ngFor="let item of condiments">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Vegetables</h3>
        <div class="form-check" *ngFor="let item of veggies">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Fruit</h3>
        <div class="form-check" *ngFor="let item of fruit">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>

        <hr>
        <h3 style="text-align:left;color:gold">Dairy</h3>
        <div class="form-check" *ngFor="let item of dairy">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Broth</h3>
        <div class="form-check" *ngFor="let item of broth">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Oils</h3>
        <div class="form-check" *ngFor="let item of oils">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Pasta</h3>
        <div class="form-check" *ngFor="let item of pasta">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Grains</h3>
        <div class="form-check" *ngFor="let item of grains">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Confections</h3>
        <div class="form-check" *ngFor="let item of confections">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Drinks</h3>
        <div class="form-check" *ngFor="let item of drinks">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Vitamins and Herbs</h3>
        <div class="form-check" *ngFor="let item of vitamins">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Pastries</h3>
        <div class="form-check" *ngFor="let item of pastries">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Snacks</h3>
        <div class="form-check" *ngFor="let item of snacks">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Garden</h3>
        <div class="form-check" *ngFor="let item of garden">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Medication</h3>
        <div class="form-check" *ngFor="let item of medication">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div>
        <hr>
        <h3 style="text-align:left;color:gold">Other</h3>
        <div class="form-check" *ngFor="let item of other">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="item.instock">
            <label class="form-check-label" for="flexCheckDefault">
                {{item.name}}
            </label>
        </div> 
    </div>
</div>