<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item "><a href="landing" class="nav-link">Recipe List</a></li>
            <li class="nav-item" (click)="onShoppingList()"><a href="shopping-list" class="nav-link">Shopping List</a>
            </li>
            <li class="nav-item"><a href="accessories" class="nav-link">Accessories</a></li>
            <li class="nav-item"><a href="in-stock" class="nav-link">In Stock</a></li>
            <li class="nav-item"><a href="import-data" class="nav-link">Import Recipes</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </header>
</div>