<div class="accessories">
    <h2><span style="color:cyan">Accessories</span></h2>
    <h4>Contained: <span style="color:white">Set of glass containers. Bought at King Soopers.</span></h4>
    <ul>
        <li>Microwaveable but will get hot</li>
        <li>Oven safe up to 450 degrees</li>
        <li>Dishwasher safe</li>
        <li>Freezer Safe</li>
    </ul>
    <h4>Silicon Sling for the Instant Pot (Walmart)</h4>
    <h4>Silicon Egg Bite Mold for the Instant Pot (Walmart)</h4>
    <h4>Green Bowl which weighs 6.5 oz - used for weighing ingredients</h4>
    <h4>Digital Kitchen Scale (Dash of That)</h4>
</div>

<div class="accessories">
    <h2><span style="color:cyan">Ingredient Brand Names</span></h2>
    <ul>
        <li>Aiello's Spaghetti Sauce</li>
        <li>Barilla Mini Farfalle Bowtie Pasta (1 lb)</li>
        <li>Blue Elephant Royal Thai Cuisine Coconut Cream (Sprouts)</li>
        <li>Diced Mirepoix Mix (Onions, Carrots, Celery) (Walmart)</li>
        <li>Gold Meadow Viva Low-fat Cottage Cheese (Walmart)</li>
        <li>Goodcook Touch Veggie Dicer</li>
        <li>Kroger Non-stick Extra Virgin Olive Oil Cooking Spray</li>
        <li>Kroger Garlic Minced</li>
        <li>Kroger Garlic Salt</li>
        <li>Kroger Italian Seasoning</li>
        <li>Kroger Sliced Mushrooms Baby Bella</li>
        <li>Kroger Marinara Pasta Sauce (24 oz)</li>
        <li>Ore-Ida Sweet Frozen Potato Crinkle Cut Fries (French Fried Sweet Potatoes)</li>
        <li>Pacific Foods Organic Beef Broth</li>
        <li>Pompeian Extra Virgin Olive Oil</li>
        <li>Quaker Oats Old Fashioned (King Soopers or Walmart)</li>
        <li>Simple Truth Frozen Sausage Links (King Soopers)</li>
        <li>Simple Truth Frozen Beef+Mushroom Patties (King Soopers)</li>
        <li>Simple with Organic Worcestershire Sauce (Vegan)</li>
        <li>Simple Truth Organic Spaghetti (1 lb)</li>
        <li>Simple Truth Organic Wide Egg Noodles</li>
        <li>Sprouts Organic Coconut Shredded (Sprouts)</li>
        <li>Tyson Frozen Chicken Nuggets (Walmart)</li>
        <li>Tyson Frozen Chicken Patties Cooked and Breaded (King Soopers)</li>
        <li>Wholesome Mindfully Delicious Dark Brown Sugar (Sprouts)</li>
    </ul>

</div>

<div class="accessories">
    <h2><span style="color:cyan">Measurement Conversions</span></h2>
    <img src="assets/images/Cooking Conversions.png">

</div>